---
import { Image } from "astro:assets";

const brands = [
  { name: "Brand 1", logo: "/brands/agromig.webp" },
  { name: "Brand 2", logo: "/brands/indigo.webp" },
  { name: "Brand 3", logo: "/brands/primefit.webp" },
  { name: "Brand 4", logo: "/brands/saborcallejero.webp" },
  // Add more brands as needed
];
---

<section class='bg-background text-foreground pt-16 sm:pt-20 md:pt-24'>
  <h2
    class='text-2xl sm:text-2xl md:text-3xl font-extrabold mb-8 sm:mb-12 md:mb-16 text-center'
  >
    Trusted by Local Businesses
  </h2>
  <div class='bg-gray-100 py-6 sm:py-8 md:py-10'>
    <div class='max-w-6xl mx-auto px-4'>
      <div
        class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 sm:gap-6 md:gap-8 lg:gap-12'
      >
        {
          brands.map((brand) => (
            <div class='flex items-center justify-center w-full h-20 sm:h-24 md:h-28 lg:h-32'>
              <Image
                src={brand.logo}
                alt={brand.name}
                width={150}
                height={100}
                class='max-w-[80%] sm:max-w-[85%] md:max-w-[90%] h-auto object-contain'
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
