---
import { Image } from "astro:assets";

const brands = [
  { name: "Brand 1", logo: "/brands/agromig.png" },
  { name: "Brand 2", logo: "/brands/indigo.png" },
  { name: "Brand 3", logo: "/brands/primefit.png" },
  { name: "Brand 4", logo: "/brands/saborcallejero.png" },
  // Add more brands as needed
];
---

<section class='bg-background text-foreground pt-24'>
  <h2 class='text-3xl font-extrabold mb-16 text-center'>
    Trusted by Local Businesses
  </h2>

  <div class='bg-gray-100 py-10'>
    <div class='max-w-6xl mx-auto px-4'>
      <div class='flex flex-wrap justify-center items-center gap-8 md:gap-12'>
        {
          brands.map((brand) => (
            <div class='flex items-center justify-center w-40 h-32'>
              <Image
                src={brand.logo}
                alt={brand.name}
                width={150}
                height={100}
                class='max-w-full max-h-full object-contain'
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
