<section
  class='py-12 px-6 bg-background text-foreground'
  data-aos='fade-up'
  id='about'
>
  <div class='max-w-5xl mx-auto flex flex-col gap-4'>
    <span class='text-muted text-sm font-medium flex gap-2'>
      <svg width='40' height='20' xmlns='http://www.w3.org/2000/svg'>
        <line x1='0' y1='10' x2='30' y2='10' stroke='black' stroke-width='1'
        ></line>
        <circle cx='35' cy='10' r='4' fill='white' stroke='black'></circle>
      </svg>

      About Us</span
    >
    <h1 class='text-4xl font-extrabold md:w-[35rem] w-full'>
      Provide The Best Easy Solution For Your IT Problem.
    </h1>
    <p class='text-sm text-muted-foreground mb-8 text-gray-600'>
      We are a passionate team of digital innovators dedicated to transforming
      businesses through cutting-edge web solutions. With years of experience in
      the industry, we combine creativity with technical expertise to deliver
      exceptional results. Our commitment to excellence and attention to detail
      ensures that every project we undertake exceeds client expectations and
      drives meaningful business growth.
    </p>
    <div class='flex flex-col md:flex-row relative'>
      <img
        src='/about/main.png'
        alt='Example image'
        class='h-auto w-full md:h-[31.25rem] md:w-[25rem] object-cover'
      />

      <div
        class='flex flex-col w-full p-4 md:p-8 border-t border-l md:ml-8 mt-4 md:mt-0'
      >
        <div class='bg-card p-4 md:p-6 md:pr-0 md:pb-0'>
          <span class='text-gray-400'>01.</span>
          <h3 class='text-xl md:text-2xl font-semibold mb-2'>UI/UX Experts</h3>
          <p class='text-muted-foreground text-sm text-gray-600'>
            Our UI/UX experts don't just follow trends; we set them. Through
            data-driven insights and creative solutions, we develop customized
            user experiences that resonate with your target audience.
          </p>
        </div>
        <div class='bg-card p-4 md:p-6 md:pr-0'>
          <span class='text-gray-400'>02.</span>
          <h3 class='text-xl md:text-2xl font-semibold mb-2'>
            SEO and Accessibility Experts
          </h3>
          <p class='text-muted-foreground text-sm text-gray-600'>
            Our SEO and accessibility experts don't just follow trends; we set
            them. Through data-driven insights and creative solutions, we
            develop customized optimization strategies that ensure your content
            reaches and serves all users.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
