<section
  class='py-12 px-6 bg-background text-foreground'
  data-aos='fade-up'
  id='about'
>
  <div class='max-w-5xl mx-auto flex flex-col gap-4'>
    <span class='text-muted text-sm font-medium flex gap-2'>
      <svg width='40' height='20' xmlns='http://www.w3.org/2000/svg'>
        <line x1='0' y1='10' x2='30' y2='10' stroke='black' stroke-width='1'
        ></line>
        <circle cx='35' cy='10' r='4' fill='white' stroke='black'></circle>
      </svg>

      About Us</span
    >
    <h1 class='text-4xl font-extrabold w-[35rem]'>
      Provide The Best Easy Solution For Your IT Problem.
    </h1>
    <p class='text-sm text-muted-foreground mb-8 text-gray-600'>
      Crafting visually appealing and user websites tailored to your brand’s and
      objectives.
    </p>
    <div class='flex relative'>
      <img src='https://placehold.co/400x500' alt='Example image' />
      <div class='flex flex-col w-full p-8 border-t border-l ml-8'>
        <div class='bg-card p-6 pr-0 pb-0'>
          <span class='text-gray-400'>01.</span>
          <h3 class='text-2xl font-semibold mb-2'>Marketing Experts</h3>
          <p class='text-muted-foreground text-sm text-gray-600'>
            Our marketing experts don’t just follow trends; we set them. Through
            data-driven insights and creative solutions, we develop customized
            marketing plans that resonate with your target audience.
          </p>
        </div>

        <div class='bg-card p-6 pr-0'>
          <span class='text-gray-400'>02.</span>
          <h3 class='text-2xl font-semibold mb-2'>Marketing Experts</h3>
          <p class='text-muted-foreground text-sm text-gray-600'>
            Our marketing experts don’t just follow trends; we set them. Through
            data-driven insights and creative solutions, we develop customized
            marketing plans that resonate with your target audience.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
