---
import Layout from "@/layouts/Layout.astro";
import Services from "@/components/Services/index.astro";
import Projects from "@/components/Projects/index.astro";
import Brands from "@/components/Brands/index.astro";
import Contact from "@/components/Contact/index.astro";
import Hero from "@/components/Hero/index.astro";
import About from "@/components/About/index.astro";
---

<Layout title='Qora'>
  <Hero />
  <main>
    <Services />

    <Projects />

    <About />

    <Contact />
  </main>

  <Brands />
</Layout>

<style>
  .card {
    @apply bg-white p-6 rounded-lg shadow-md transition-transform duration-300 hover:scale-105;
  }
</style>
