<section class="h-56 overflow-hidden">
    <div class="relative h-full">
        <div class="bg-stone-900 absolute z-10 top-1/2 left-1/2 h-16 w-[120%] transform -translate-y-1/2 -translate-x-1/2 rotate-2">
            <p class="text-black text-4xl font-semibold flex justify-center items-center gap-x-9 h-full animate-pulse">
                <span>Digital Studio</span><span>Web Design</span><span class="text-white">Branding Design</span><span>Digital Marketing</span>
            </p>
        </div>
        <div class="bg-black absolute z-20 top-1/2 left-1/2 h-16 w-[120%] transform -translate-y-1/2 -translate-x-1/2 -rotate-2">
            <p class="text-black text-4xl font-semibold flex justify-center items-center gap-x-9 h-full animate-pulse">
                <span>Digital Studio</span><span>Web Design</span><span class="text-white">Branding Design</span><span>Digital Marketing</span>
            </p>
        </div>
    </div>
</section>

<style>
    p {
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff; /* Soporte para navegadores que usan la propiedad text-stroke */
    }
</style>