---
import FooterLayout from "@/layouts/FooterLayout.astro";
---

<FooterLayout title="Footer">
  <section
    class="bg-gradient-to-b from-[#2d2d2d] to-black min-h-[30rem] h-full flex flex-col items-center justify-around text-white pt-12"
  >
    <div
      class="flex flex-col items-center justify-center mt-18 px-4 text-center"
    >
      <h3 class="mb-8 text-gray-400 text-base sm:text-lg md:text-xl">
        Transform your ideas into powerful digital experiences with our expert
        development team.
      </h3>
      <h2 class="text-4xl sm:text-5xl md:text-7xl font-bold">
        Let's Work Together
      </h2>
    </div>
    <span class="labsLetters">Qora</span>
  </section>
</FooterLayout>

<style>
  .labsLetters {
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
    color: transparent;
    font-size: clamp(100px, 15vw, 200px);
    font-style: normal;
    font-weight: 800;
  }
</style>
