<div class='bg-[#111111] text-foreground p-8 lg:pl-48 h-screen flex'>
  <div class='flex flex-col items-start justify-center mb-4 gap-4 pl-32 pr-24'>
    <span class='text-muted text-sm font-medium text-white flex gap-2'>
      <svg width='40' height='20' xmlns='http://www.w3.org/2000/svg'>
        <line x1='0' y1='10' x2='30' y2='10' stroke='white' stroke-width='1'
        ></line>
        <circle cx='35' cy='10' r='4' fill='' stroke='white'></circle>
      </svg>

      Portfolio</span
    >
    <h1 class='text-5xl font-bold mb-4 text-white'>
      Showcasing Creative Excellence.
    </h1>
    <p class='text-muted-foreground mb-8 text-gray-300 text-sm'>
      Crafting visually appealing and user websites tailored to your brand's and
      observe of objectives.
    </p>
    <ul class='space-y-2 mb-8 w-full flex flex-col gap-4'>
      <li
        class='text-2xl hover:text-white hover:scale-110 transition-all duration-300 ease-in-out flex items-center gap-2 justify-between text-transparent font-bold [-webkit-text-stroke:0.5px_grey] group cursor-pointer'
      >
        Innovative Branding
        <svg width='20%' height='2' xmlns='http://www.w3.org/2000/svg'>
          <line
            x1='0'
            y1='1'
            x2='100%'
            y2='1'
            stroke='gray'
            stroke-width='2'
            class='transition-colors duration-300 ease-in-out group-hover:stroke-white'
          ></line>
        </svg>
      </li>
      <li
        class='text-2xl hover:text-white hover:scale-110 transition-all duration-300 ease-in-out flex items-center gap-2 justify-between text-transparent font-bold [-webkit-text-stroke:0.5px_grey] group cursor-pointer'
      >
        Engaging E-Commerce Platform
        <svg width='20%' height='2' xmlns='http://www.w3.org/2000/svg'>
          <line
            x1='0'
            y1='1'
            x2='100%'
            y2='1'
            stroke='gray'
            stroke-width='2'
            class='transition-colors duration-300 ease-in-out group-hover:stroke-white'
          ></line>
        </svg>
      </li>
      <li
        class='text-2xl hover:text-white hover:scale-110 transition-all duration-300 ease-in-out flex items-center gap-2 justify-between text-transparent font-bold [-webkit-text-stroke:0.5px_grey] group cursor-pointer'
      >
        SEO And Content Marketing
        <svg width='20%' height='2' xmlns='http://www.w3.org/2000/svg'>
          <line
            x1='0'
            y1='1'
            x2='100%'
            y2='1'
            stroke='gray'
            stroke-width='2'
            class='transition-colors duration-300 ease-in-out group-hover:stroke-white'
          ></line>
        </svg>
      </li>
      <li
        class='text-2xl hover:text-white hover:scale-110 transition-all duration-300 ease-in-out flex items-center gap-2 justify-between text-transparent font-bold [-webkit-text-stroke:0.5px_grey] group cursor-pointer'
      >
        Creative Website Redesign
        <svg width='20%' height='2' xmlns='http://www.w3.org/2000/svg'>
          <line
            x1='0'
            y1='1'
            x2='100%'
            y2='1'
            stroke='gray'
            stroke-width='2'
            class='transition-colors duration-300 ease-in-out group-hover:stroke-white'
          ></line>
        </svg>
      </li>
      <li
        class='text-2xl hover:text-white hover:scale-110 transition-all duration-300 ease-in-out flex items-center gap-2 justify-between text-transparent font-bold [-webkit-text-stroke:0.5px_grey] group cursor-pointer'
      >
        Effective Email Marketing
        <svg width='20%' height='2' xmlns='http://www.w3.org/2000/svg'>
          <line
            x1='0'
            y1='1'
            x2='100%'
            y2='1'
            stroke='gray'
            stroke-width='2'
            class='transition-colors duration-300 ease-in-out group-hover:stroke-white'
          ></line>
        </svg>
      </li>
    </ul>
  </div>
  <div class='mt-8 w-1/2 relative'>
    <button
      class='bg-secondary text-secondary-foreground hover:bg-secondary/80 rounded-full px-6 py-3 transition-transform transform hover:scale-105 text-white absolute top-0 right-20 flex items-center justify-center w-[150px] h-[150px] border border-current'
      style='border-radius: 100%;'><span>View All</span></button
    >
    <div
      class='bg-muted h-2/3 w-full rounded-lg shadow-lg hover:shadow-xl transition-shadow bg-white absolute right-0 bottom-0'
    >
    </div>
  </div>
</div>
